
<article>
    
    
    <h4>Factura Compra Contratista</h4>
    
    
            <form
                class="form"
                action="#"
                name="form_facturacontratista"
                id="form_facturacontratista"                    
                >
            
                
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="fecha">Fecha:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="date"
                            name="fecha"
                            id="facturacontratista_fecha"                            
                            />
                    </div>
                </div>    
            </div>                    


            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="obra_realizada">Obra realizada:</label> 
                    </div>                    
                    
                    <div class="bl-29">
                        <select
                            id="facturacontratista_obra_realizada"
                            name="obra_realizada">
                        </select>    
                    </div>           
                    
                    <div class="bl-4"></div>
                    
                </div>    
                
                
                
                
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="anio">Año:</label> 
                    </div>
                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="anio"
                            id="anio"
                            class="num" 
                            />
                    </div>
                </div>                  
                               
                
            </div>  
                
                
            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="tipo_factura">Tipo factura:</label> 
                    </div>                    
                    
                    <div class="bl-10">
                        <select
                            id="facturacontratista_tipo_factura"
                            name="tipo_factura">
                        </select>    
                    </div>           
                    
                    <div class="bl-4"></div>
                    
                </div>    
            </div>   
                
                
            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="numero_factura">Nro factura:</label> 
                    </div>                    
                    
                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="numero_factura"
                            id="facturacontratista_numero_factura"                            
                            />
                    </div>           
                    
                    <div class="bl-4"></div>
                    
                </div>    

                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="timbrado">Timbrado:</label> 
                    </div>                    
                    
                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="tipo_compra"
                            id="facturacontratista_timbrado"                            
                            /> 
                    </div>           
                    
                    <div class="bl-4"></div>
                    
                </div>  
                
                
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="tipo_compra">Tipo compra:</label> 
                    </div>                    
                    
                    <div class="bl-8">
                        <select
                            id="facturacontratista_tipo_compra"
                            name="tipo_compra">
                        </select>                          
                        
                        
                    </div>           
                    
                    <div class="bl-4"></div>
                    
                </div>  
                
            </div>  
                                
                
                
            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="contratista">Contratista:</label> 
                    </div>           
                    <div class="bl-27">
                        <select
                            id="facturacontratista_contratista"
                            name="contratista">
                        </select>    
                    </div>                               
                    <div class="bl-4"></div>                    
                </div>    
                
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="ruc">Numero ruc:</label> 
                    </div>                    
                    
                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="ruc"
                            id="ruc"                            
                            />
                    </div>                              
                    <div class="bl-4"></div>                    
                </div>                                    
                
            </div>   
                                
                
                
                
                
        

        <div class="f-line">
            
            
            <div class="f-campo">

                <div class="bl-5">
                    <label for="fecha_pago">Fecha pago:</label> 
                </div>

                <div class="bl-8">
                    <input                                                 
                        type="date"
                        name="fecha_pago"
                        id="fecha_pago"
                        />
                </div>
                <div class="bl-4"></div>  
            </div>    
            
            
                        
            
            <div class="f-campo">
                <div class="bl-5">
                    <label for="estado_pago">Estado pago:</label> 
                </div>

                <div class="bl-10">
                    <select
                        id="estado_pago"
                        name="estado_pago">
                    </select>   
                </div>
            </div>    


            
        </div>                         

                
                
                
                
        <div class="f-line">

            
            
            <div class="f-campo">
                <div class="bl-5">
                    <label for="numero_cheque">Nro cheque:</label> 
                </div>

                <div class="bl-10">
                    <input                                                 
                        type="text"
                        name="numero_cheque"
                        id="numero_cheque"
                        />
                </div>
                <div class="bl-2"></div>
            </div>             
                        
            

            <div class="f-campo">
                <div class="bl-5">
                    <label for="tipo_cheque">Tipo cheque:</label> 
                </div>                    

                <div class="bl-10">
                    <select
                        id="facturacontratista_tipo_cheque"
                        name="tipo_cheque">
                    </select>                          


                </div>           

                <div class="bl-4"></div>

            </div>                  
                           
            

            <div class="f-campo">
                <div class="bl-5">
                    <label for="dias_diferidos">Dias diferidos:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="dias_diferidos"
                        id="dias_diferidos"
                        class="num" 
                        />
                </div>
                <div class="bl-4"></div>
            </div>             
                        
            
            
            
            
        </div>                        

     
                
                


        </form>

</article>

                
