
<article>
    
    
    <h4>Oficio</h4>
    
    
            <form
                class="form"
                action="#"
                name="form_oficio"
                id="form_oficio"                    
                >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="oficio">Oficio:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="oficio"
                            id="oficio_oficio"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    




            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-12">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="oficio_descripcion"
                            />
                    </div>
                </div>    
            </div>



        </form>

</article>

<article id="oficio_acciones">
    <pre></pre>
</article>
                


<article id="oficio_tabuladores">
    <pre></pre>
</article>
                
