
@import "normalize.css";


@import "esquema.css";
@import "flex.css";
@import "form.css";
@import "alertas.css";
@import "boton.css";
@import "tabla.css";
@import "paginacion.css";
@import "coleccion.css";

@import "busqueda.css";
@import "modal.css";
@import "serie.css";


@import "menu.css";
@import "loader.css";

@import "media.css";
@import "colores.css";


@import "exclusivo.css";
@import "logo.css";




                    

/*                    
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
  */                  
