
<article>
            <form
            class="form"
            action="#"
            name="form_rolselector"
            id="form_rolselector"                    
            >
            
       

            <div class="f-line" id="f-line-id">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="id">Id:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="id"
                            id="rolselector_id"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    



            <div class="f-line" id="f-line-rol">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="rol">Rol:</label> 
                    </div>
                    
                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="rol"
                            id="rolselector_rol_rol"
                            class="num" 
                            data-foreign ="Rol"
                            />
                    </div>                    
                    
                    
                    <div class="bl-2" >                        
                        <div class="icono"> 
                            <span 
                                class="icon-more-horizontal" 
                                id="ico-more-rol"
                                data-ind="0"
                                >
                            </span>
                        </div>                        
                    </div>                    

                    
                                        
                    <div class="bl-14 out">      
                        <output 
                            id="rol_descripcion" >
                        </output>
                    </div>                    
                                        
                </div>    
            </div>
               
                
                
                


            <div class="f-line" id="f-line-selector">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="selector">Selector:</label> 
                    </div>
                    
                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="selector"
                            id="rolselector_selector_selector"
                            class="num" 
                            data-foreign ="Selector"
                            />
                    </div>                    
                    
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span 
                                class="icon-more-horizontal" 
                                id="ico-more-selector"
                                data-ind="0"
                                >                                    
                            </span>
                        </div>                        
                
                    </div>                    

                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span 
                                class="icon-plus" 
                                id="ico-plus-selector"
                                data-ind="0"
                                >
                            </span>
                        </div>                        
                    </div>                    
                                        
                    <div class="bl-14 out">      
                        <output 
                            id="selector_descripcion_out" >
                        </output>
                    </div>                    
                                        
                </div>    
            </div>

                
        </form>

</article>




<article id="rolselector-acciones">
    <pre></pre>
</article>


<article id="rolselector-tabuladores">
    <pre></pre>
</article>
           



