
<article>
    
    
    <h4>Materiales y Manos de Obra</h4>
    
    
            <form
                class="form"
                action="#"
                name="form_materialmanoobra"
                id="form_materialmanoobra"                    
                >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="id">Codigo:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="id"
                            id="materialmanoobra_id"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    


                
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-22">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="materialmanoobra_descripcion"
                            />
                    </div>
                </div>    
            </div>            
                
                
                
                


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="unidad_medida">Unidad medida:</label> 
                    </div>

                    <div class="bl-12">

                        <select
                            id="materialmanoobra_unidad_medida"
                            name="unidad_medida">
                        </select>    

                    </div>
                </div>    
            </div>





            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="tipo_usuario">Tipo usuario:</label> 
                    </div>

                    <div class="bl-12">

                        <select
                            id="materialmanoobra_tipo_usuario"
                            name="tipo_usuario">
                        </select>    

                    </div>
                </div>    
            </div>






            
                
        </form>

</article>

<article id="materialmanoobra_acciones">
    <pre></pre>
</article>
                


<article id="materialmanoobra_tabuladores">
    <pre></pre>
</article>
                
