

<h4>Contratistas</h4>

<div class ="table-responsive-vertical wi-8">
    
        <table class="tableB" id="contratista_tabla">
          <thead>
            <tr>
                <th class="ca-10">contratista</th>
                <th class="ca-30">nombre</th>
                <th class="ca-20">oficio</th>
            </tr>
          </thead>

          <tbody id="contratista-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
    
</div>

    
        <hr class="e20"/>

        <div id="contratista_paginacion" class="pagination" >                            
        </div>


        <article id="contratista_acciones_lista">
            <pre></pre>
        </article>    

