
<article>
    
    
    <h4>Consulta</h4>
    
    
            <form
                class="form"
                action="#"
                name="form_facturacontratista"
                id="form_facturacontratista"                    
                >
            

            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-5">
                        <label for="obra_realizada">Obra realizada:</label> 
                    </div>                    
                    
                    <div class="bl-29">
                        <select
                            id="obra_realizada"
                            name="obra_realizada">
                        </select>    
                    </div>           
                    
                    <div class="bl-4"></div>
                    
                </div>    
          
            </div>  
       
        </form>

</article>






<article>
   <div class="botones">
      <div class="boton">     
          <a id="btn_consultar" 
             data-id="0" 
             class="botonA" 
             href="javascript:void(0);">     
              Consultar    
          </a>   
      </div>
   </div>
</article>






<article id="arti_det">
    <pre></pre>
</article>


