

    


        <form
            class="form"
            action="#"
            name="form_usuario"
            id="form_usuario"               
            autocomplete="off"
            >


                    
                <input                                                 
                    type="hidden"
                    name="usuario"
                    id="usuario_usuario"
                    class="num" 
                    />



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="old">Antigua:</label> 
                    </div>

                    <div class="bl-9">
                        <input                                                 
                            type="password"
                            name="old"
                            id="usuario_old"    
                            autocomplete="new-password"
                            />
                    </div>
                </div>    
            </div>


            
            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-6">
                        <label for="new">Nueva:</label> 
                    </div>

                    <div class="bl-9">
                        <input                                                 
                            type="password"
                            name="new"
                            id="usuario_new"
                            autocomplete="new-password"
                            />             
                    </div>
                </div>    

            </div>

                
                

            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-6">
                        <label for="confi">Confirmar:</label> 
                    </div>

                    <div class="bl-9">
                        <input                                                 
                            type="password"
                            name="confi"
                            id="usuario_confi"
                            autocomplete="new-password"
                            />             
                    </div>
                </div>    

            </div>

                            
                
                
            
        </form>

    <article id="usuario-acciones">
        <pre></pre>
    </article>

    <article id="usuario-tabuladores">
        <pre></pre>
    </article>
                


